/* Basic Page Styling */
body {
  font-family: 'Segoe UI', sans-serif;
  background-color: whitesmoke;
  color: black;
  justify-content: center;
  padding: 40px;
}

.container{
  text-align: center;
}

/* Input and Button */
#taskInput,
#addTaskBtn {
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid lightgray;
  margin-right: 8px;
}

#taskInput {
  background-color: white;
  color: black;
}

#addTaskBtn {
  background-color: mediumseagreen;
  color: white;
  border: none;
  cursor: pointer;
}

#addTaskBtn:hover {
  background-color: seagreen;
}

/* Task List */
ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
  width: 100%;
  max-width: 500px;
}

/* Each Task */
li {
  background-color: white;
  margin-bottom: 10px;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 10px lightgray;
  gap: 10px;
}

/* Completed Task */
.completed span {
  text-decoration: line-through;
  color: gray;
}

/* Task Text */
li span {
  flex-grow: 1;
}

/* Buttons */
button.deleteBtn,
button.editBtn {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: dimgray;
}

button.deleteBtn:hover,
button.editBtn:hover {
  color: black;
}

/* Input While Editing */ 
li input[type="text"] {
  flex-grow: 1;
  padding: 6px 10px;
  background-color: white;
  color: black;
  border: 1px solid lightgray;
  border-radius: 6px;
}

#moreoptions{
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

#optionmenu{
  display:none;
  position:absolute;
  top: 30px;
  right: 0;
  background: white;
  border: 1px solid lightgray;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0, 0 , 0, 0.1);
  padding: 10px;
  flex-direction: column;
  gap: 10px;
}

#optionmenu button{
  text-align: left;
  padding: 6px 10px;
  cursor: pointer;
  width: 100%;
}

#optionmenu button:hover{
  background-color: #f0f0f0;
}

#optionmenu.show{
  display: flex;
}

#trashContainer {
  margin-top: 30px;
  display: none;
}

/* Trash Buttons */
#trashList button {
  margin-left: 10px;
  padding: 6px 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

#trashList button:first-child {
  background-color: mediumseagreen;
  color: white;
}

#trashList button:last-child {
  background-color: crimson;
  color: white;
}



#trash.active {
  background-color: lightgray;
  border-radius: 4px;
}

.category-label {
  background-color: lightblue;
  color: black;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 6px;
  margin-left: 8px;
  font-weight: bold;
}
